<!-- >>> FOOTER RANGE <<< -->
<footer class="footerRange d-flex align-items-center justify-content-center mt-5">
  <div class="row d-flex justify-content-center">
    <span class="footerCopyRight ">
      <span>
        Copyright © 2022 Elite Aço® é uma marca registrada de ELITE AÇO INDUSTRIA E COMERCIO DE MOVEIS LTDA | CNPJ:
        02.141.835/0001-97 | Todos os direitos reservados. Os preços anunciados neste site ou via e-mail promocional
        podem ser alterados sem prévio aviso. As fotos contidas nesta página são meramente ilustrativas. Este site
        trabalha 100% em criptografia SSL. Clique aqui e veja as políticas de nossa empresa.
      </span>
    </span>
  </div>
</footer>


<!--------------------------------------------------------------------------------------------------------------------->


<!-- 1º Script = Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<!-- 2º Script = IonIcons -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- 3º Script = eBit -->
<script type="text/javascript" id="getSelo"
  src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?119577&lightbox=true"></script>